@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Noto+Serif+TC:wght@200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: "Source Serif 4";
  color: rgb(200, 200, 200);
  font-weight: 300;
}

@theme {
  --font-wenkai: "LXGW WenKai TC";
  --font-ss4: "Source Serif 4";

  --color-umbra: #1f1f1f; /* Body Fill */
  --color-carbon: #2e2e2e; /* Backgrounds */
  --color-silver: #8f8f8f; /* Gray Text */
  --color-steel: #4a4a4a; /* Input Fields */

  --color-greenish: #bece7b;
  --color-dark-greenish: #556124;

  --color-crystal: #7bcea2;
  --color-dark-crystal: #556124;

  --color-aquarelle: #7bc6ce;
  --color-dark-aquarelle: #255f6c;

  --color-neptune: #7b89ce;
  --color-dark-neptune: #212e6f;

  --color-wisteria: #a17bce;
  --color-dark-wisteria: #3f1b6c;

  --color-mauve: #cc7bce;
  --color-dark-mauve: #582259;

  --color-coral: #ce7b8c;
  --color-dark-coral: #511824;

  --color-leon: #ce9c7b;
  --color-dark-leon: #522c13;

  --color-chamois: #cebe7b;
  --color-dark-chamois: #4d4213;
}
